<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="d.f.r.s">
    <meta name="author" content="David Adam Hernandez">

    <title>Recorded Bands</title>

    <link rel="icon" href="img/dia.ico">
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/bands.css" rel="stylesheet">

    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

  </head>

  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Diamond Factory Recording</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="home.html">Home</a></li>
                  <li class="active"><a href="#">Bands</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Gear</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover" ng-app="BandApp">

              <div class="row">
                <div class="span12">
                    <!--Place Carousel Here-->
                    <div ng-controller="MainController">
                      <div style="height: 305px">
                        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                          <uib-slide ng-repeat="band in slides.bands" active="band.active">
                            <img ng-src="{{band.img}}" style="margin:auto;">
                            <div class="carousel-caption">
                              <h4>Slide {{$index}}</h4>
                              <p>{{band.band_name}}</p>
                            </div>
                          </uib-slide>
                        </uib-carousel>
                      </div>
                    </div>
                    <!--<div ng-controller="MainController">
                      <div style="height: 305px">
                        <carousel interval="myInterval" no-wrap="noWrapSlides">
                          <slide ng-repeat="band in slides" active="slide.active">
                            <img ng-src="{{band.img" style="margin:auto;">
                          </slide>
                        </carousel>
                      </div>
                    </div>-->


                </div>
              </div>

            <!-- This row used to be outside of inner cover -->
            <div class="row">
              <div class="col-xs-6">
                <h3 id="band-name"> Band Name </h3>
              </div>
              <div class="col-xs-5" id="icon-group">
                      <img id="sc-icon" class="soc-ico" src="img/sc_ico.png">
                      <img id="bc-icon" class="soc-ico" src="img/bc_ico.png">
                      <img id="fb-icon" class="soc-ico" src="img/fb_ico.png">
              </div>
            </div>
          </div>              

          <div class="mastfoot">
            <div class="inner">
              <p>Copyright @ Diamond Factory Recording Studio. All rights reserved.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script href="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"> </script>

    <!--Angular-Animate-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.min.js"></script>
    <!--AngularUI-->
    <script src="ui-bootstrap-tpls-0.14.2.min.js"></script>
    
    <!--Modules-->
    <script src="js/app.js"></script>

    <!--Controllers-->
    <script src="js/controllers/MainController.js"></script>

    <!--Services-->
    <script src="js/services/bands.js"></script>


  </body>
</html>
